/* Main */
body {
    font-family: Helvetica, Sans-Serif;
    color: #444444;
    font-size: 9pt;
    background-color: #fff;
    margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Navigation Bar */
.navFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-left: 50px;
}

.flexLogo {
  flex-basis: 460px;
}

.airlogo {
  width: 92px;
  height: 30px;
}

.flexSearch {
  display: flex;
  flex-basis: 480px;
}

.navSearch {
  height: 49px;
  width: 280px;
  border-radius: 25px;
  border-color: #dddd;
  background-color: #fff;
  border-style: solid;
  text-align: left;
  color: #222222;
  margin-right: -50px;
}

input[class="navSearch"], input[type="reset"] {
  display: inline-block;
  padding-left: 25px;
  font-weight: 600;
}

.navSearch:focus {
  outline-width: 0;
}

.navSearch:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(232, 232, 232, 0.9);
}

.burgerIcon {
  margin-left: -62px;
}

.userIcon {
  color: #717171;
  margin-left: 7px;
}

.burgerIcon2 {
  position: absolute;
  right: 118px;
  top: 37px;
}

.userIcon2 {
  position: absolute;
  right: 79px;
  top: 32px;
  color: #717171;
}

.host-container {
  display: flex;
  align-items: center;
}

.hamburger {
  width: 15px;
  height: 2px;
  background-color: #222222;
  margin: 3px 0;
}

/* Search Menu */
.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 15px #eeecec;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.flexOuter {
  display: flex;
  flex-direction: column;
}


.places {
  flex-basis: 150px;
}

.placeText {
  font-size: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  margin-right: 60px;
  border-width: 2px;
}

.experienceText {
  font-size: 15px;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-right: 60px;
  border-width: 2px;
}

.experience {
  flex-basis: 280px;
}

.experience2 {
  flex-basis: 330px;
}

.flexHost {
  flex-basis: 200px;
  margin-right: 10px;
}
.host {
  font-size: 12px;
}
.flexWeb {
  flex-basis: 30px;
  margin-right: 10px;
}

.dropDownBackground {
  margin-left: 220px;
  margin-top: -27px;
  margin-bottom: -178px;
}


.dropFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  width: 763px;
  height: 70px;
  background-color: rgb(241, 237, 237);
  text-align: center;
  border-radius: 50px;
  background-color: #F7F7F7;
  border: solid;
  border-width: 1px;
  border-color: #dddddd;
  box-shadow: 0px 4px 4px rgba(230, 226, 226, 0.9);
}

.location {
  opacity: 0;
  height: 70px;
  width: 230px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgba(148, 147, 147, 0.4);
}

.location-true {
  opacity: 1;
}

.location-true::placeholder {
  padding-left: 22px;
  position: absolute;
  top: 35px;
}

.checkIn {
  opacity: 0;
  height: 70px;
  width: 150px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgba(148, 147, 147, 0.4);
}


.checkIn-true {
  opacity: 1;
  height: 70px;
  width: 150px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgba(148, 147, 147, 0.4);
}


.checkOut  {
  opacity: 0;
  height: 70px;
  width: 150px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgba(148, 147, 147, 0.4);
}

.checkOut-true {
  opacity: 1;
  height: 70px;
  width: 150px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgba(148, 147, 147, 0.4);
}

.guests {
  opacity: 0;
  height: 70px;
  width: 230px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgba(148, 147, 147, 0.4);
}


.guests-true {
  opacity: 1;
  height: 70px;
  width: 230px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgba(148, 147, 147, 0.4);
}

.guestsClick:hover {
  cursor: pointer;
}


.searchBtn {
  opacity: 1;
  position: absolute;
  left: 860px;
  top: 97px;
  height: 55px;
  width: 110px;
  border-radius: 35px;
  border: none;
  background-color: #E41C5B;
}

.glass {
  margin-left: -20px;
  position: relative;
  left: 620px;
  bottom: 232PX;
}

.locationTextDiv {
  cursor: pointer;
}

.locationText {
  font-size: 12px;
  position: relative;
  bottom: 65px;
  left: 25px;
}


.checkInText {
  font-size: 12px;
  position: relative;
  bottom: 84px;
  left: 255px;
}

.checkInText2 {
  font-size: 12px;
  position: relative;
  bottom: 90px;
  left: 255px;
  top: -84px;
  color: #868686;
}

.checkInTextDiv {
  cursor: pointer;
}

.checkOutText {
  font-size: 12px;
  position: relative;
  bottom: 135px;
  left: 400px;
}

.checkOutText2 {
  font-size: 12px;
  position: relative;
  left: 400px;
  top: -136px;
  color: #868686;
}

.checkOutTextDiv {
  cursor: pointer;
}

.guestText {
  position: relative;
  left: 555px;
  bottom: 187px;
  color: black;
  font-size: 12px;
}

.guestText2 {
  position: relative;
  left: 555px;
  top: -188px;
  color: #868686;
}

.searchGuests {
  position: relative;
  left: 680px;
  bottom: 240PX;
  color: #fff;
  font-size: 16px;
  z-index: 99;
}

.searchGuests2 {
  position: relative;
  left: 555px;
  top: -195px;
  color: #868686;
}

.searchGuestsDiv {
  display: flex;
}


.guestsDiv {
  opacity: 0;
}

.guestsDiv-true {
  opacity: 1;
}

.guestTextDiv:hover {
  cursor: pointer;
}

/* Header */
.header {
  margin-left: 67px;
  margin-bottom: -12px;
  margin-top: 25px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: 'center';
  margin-left: 68px;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
}

.star{
  padding-right: 0.2%;
  align-items: center;
  justify-content: center;
}

.header-1 {
  padding-right: 0.5%;

}

.header-2 {
  padding-right: 0.8%;
}

.header-3 {
  color: grey;
}

.header-3 a {
  color: #717171;
  font-size: 14px;
}

.flexTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 72%;
  justify-content: flex-end;
}

.header-4 {
  margin-right: 15px;
}

.save-icon-container {
  margin-right: 10px;
}

.share-icon-container {
  margin-left: 780px;
  margin-right: 10px;
}

.shareIcon {

}

.header-5 {
}

.header-4, .header-5, a {
  color: #2b2b2b;
  font-weight: 600;
}

.webIcon {
  width: 18px;
  height: 18px;

}

.navButton {
  width: 75px;
  height: 40px;
  border-radius: 25px;
  background-color: #fff;
  border-color: #dddd;
  border-style: solid;
}


/* Photo Gallery*/
.imageContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 67px;
}

.imageFlex {
  padding: 1px;
}
.leftImg {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.searchClick:hover {
  cursor: pointer;
}

.rightTopImg {
  border-top-right-radius: 15px;
}

.rightBottomImg {
  border-bottom-right-radius: 15px;
}

img:hover {
  cursor: pointer;
  /* -webkit-filter: brightness(70%);
  filter: brightness(80%); */
  z-index: -1;
}

.show-more-imgs {
  background: red;
  display: flex;
  justify-content: flex-start;
  margin-left: 1100px;
  margin-top: -100px;
  width: 10%;
}

.btn {
  /* position: fixed;
  left: 79%;
  bottom: 49%; */
  background-color: white;
  border-radius: 6px;
  border-color: #222222;
  border-width: 1px;
  padding: 5px;
  font-size: 12px;
  height: 30px;
  width: 130px;
  text-align: right;
}

.btn-true {
  background-color: white;
  border-radius: 6px;
  border-color: #222222;
  border-width: 1px;
  padding: 5px;
  font-size: 12px;
  height: 30px;
  width: 130px;
  text-align: right;
}

.btn:hover {
  cursor: pointer;
}

/* Images */
.imagesContainer {
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 1000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
}

.flexIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0px;
  margin-right: 50px;
  padding-bottom: 40px;
  position: relative;
  background-color: #fff;
  padding-top: -100px
}

.imgFlex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgFlex1 img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgFlex1a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.flexIconsA {
  padding-right: 1030px;
}

.flexIconsB {
  padding-left: 12px;
}

.flexIconsC {
  padding-left: 12px;
}

.flexIconsD {
  padding-left: 12px;
}
.flexIconsE {
  padding-left: 12px;
}

.leftImage {
  margin-right: 10px;
}